#home-page-box
  .button_wrap
    %a.button{:href => "/auth/facebook"}Let's do this
  = image_tag "ba.png"

#adventure-box
#adventures-list-box
#new-adventure-box
#supporters-box

= render 'adventure_template'
= render 'adventures_list_template'
= render 'adventures_list_item_template'
= render 'new_adventure_template'
= render 'supporters_template'
